@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/mixins";


$font-family-light: PingFangSC-Regular,Arial,Sans-serif;
$font-family-main: PingFangSC-Medium,Arial,Sans-serif;
$font-family-title: PingFangSC-Semibold, Arial, Sans-serif;

// bulma
$family-serif: $font-family-light;
$family-primary: $font-family-light;
$gap:16px;
$dark-blue: #032841;
$light-blue: rgba(54,130,222,1);
$footer-background-color: white;
$navbar-height: 72px;

// text
$common-text-color: #7E8085;
$common-active-color: #2F5BEA;
$lang-select-color: #007EE5;

// background color
$common-bg-color: #f6fbff;

// timeline
$timelineColor: #007aff;

@mixin widescreen-desktop {
  @media screen and (min-width: $desktop) and (max-width: $fullhd - 1px) {
    @content
  }
}



